---
import { getCollection } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import ThumbnailCard from "../components/ThumbnailCard.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const itemListJsonLd = {
  "@context": "https://schema.org",
  "@type": "ItemList",
  "@id": "https://almondis.com/blog/#itemlist",
  itemListElement: posts.map((post, index) => ({
    "@type": "ListItem",
    position: index + 1,
    name: post.data.title,
    item: {
      "@type": "WebPage",
      "@id": `https://almondis.com/blog/${post.id}/`,
    },
  })),
};
---
<!doctype html>
<html lang="ja">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />

    <!-- Blog list structured data -->
    <script
  type="application/ld+json"
  set:html={JSON.stringify(itemListJsonLd)}
></script>

  </head>


  <body class="text-black min-h-screen flex flex-col gap-[24px]">

  <Header />

  <main
  class="
    mx-auto
    flex-1

    grid
    grid-cols-1
    min-[720px]:grid-cols-2
    min-[960px]:grid-cols-3

    gap-x-[60px]
    gap-y-[44px]

    justify-center
    items-start
    content-start
  "
>
      {posts.map((post) => (
        <ThumbnailCard post={post} />
      ))}
    </main>


  <Footer />

</body>

</html>
