---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";

type Props = CollectionEntry<"blog">["data"];
const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="ja">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="bg-white text-black flex flex-col gap-[64px]">
    <Header />

    <main class="w-full flex justify-center">
      <article class="w-full max-w-[720px] px-4 py-10">
        {
          heroImage && (
            <Image
              src={heroImage}
              width={1020}
              height={510}
              alt=""
              class="rounded-xl shadow-lg mb-8 mx-auto"
            />
          )
        }

        <div class="text-center mb-16">
          <p class="text-sm text-muted-foreground">
            <FormattedDate date={pubDate} />
          </p>

          {
            updatedDate && (
              <p class="text-xs italic text-muted-foreground mt-1">
                Last updated on <FormattedDate date={updatedDate} />
              </p>
            )
          }

          <h1 class="text-3xl font-bold mt-4">{title}</h1>
          <hr class="mt-6" />
        </div>

        <div class="markdown-body mx-auto">
          <slot />
        </div>
      </article>
    </main>

    <Footer />
  </body>
</html>
